extends ../index

block main-content
    .jumbotron(ng-controller="MissionController as vm")
        .row
            .col-md-8.col-md-offset-2
                .panel.panel-info
                    .panel-heading.text-center Missions
                    .panel-body
                        table.table.table.text-center
                                tr.table.text-center
                                    th.text-center PostedBy
                                    th.text-center Location
                                    th.text-center Awards
                                    th.text-center
                                each item in missions
                                    tr
                                        td= item.postedBy
                                        td= item.location
                                        td= item.award
                                        td
                                            a.btn.btn-primary(href="/missions/details/" + item._id) Details
            col-md-2(ng-show="vm.identity.isAuthenticated()")
                a(href="/missions/add").btn.btn-primary Add Mission
