extends ../index

block main-content
    .container
        .jumbotron.text-center
            h2 Rule over agents and commissioners
            .row
                .col-md-4
                    a.btn.btn-primary.btn-lg(href="admin/agents") Manage Agents
                .col-md-4
                    a.btn.btn-primary.btn-lg(href="admin/commissioners") Manage Commissioners
                .col-md-4
                    a.btn.btn-primary.btn-lg(href="missions") Manage Mission