extends ../index

block main-content
    .container
        .jumbotron.text-center
            h2 Rule over agents and commissioners
            .row
                .col-md-offset-3.col-md-3
                    a.btn.btn-primary.btn-lg(href="admin/users") Manage Users
                .col-md-3
                    a.btn.btn-primary.btn-lg(href="missions") Manage Mission