extends ../index

block main-content
    .jumbotron(ng-controller="ListUsersController as vm")
        .row
            .col-md-8.col-md-offset-2
                .panel.panel-info
                    .panel-heading.text-center Agents
                    .panel-body
                        table.table.table.text-center
                            tr.table.text-center
                                th.text-center Picture
                                th.text-center Agent
                                th.text-center Missions Taken
                                th.text-center(ng-show="vm.identity.isAuthorizedForRole('admin')") Delete Agent
                                th.text-center(ng-show="vm.identity.isAuthenticated() && !vm.identity.isAuthorizedForRole('admin')") Details
                                th.text-center(ng-show="vm.identity.isAuthenticated() && !vm.identity.isAuthorizedForRole('admin')") Send message
                                th.text-center
                            each item in agents
                                tr
                                    td.col-lg-1
                                        img.user-img.img-circle.img-responsive(src="" + item.pictureUrl)
                                    td= item.username
                                    td= item.missions.length
                                    td(ng-if="vm.identity.isAuthenticated() && !vm.identity.isAuthorizedForRole('admin')")
                                        a.btn.btn-primary(href="/users/details/" + item._id) Details
                                    td(ng-if="vm.identity.isAuthorizedForRole('admin')")
                                        button.btn.btn-danger(ng-click='vm.deleteUser($event)' data-value="" + item._id data-adress="agents") Delete
                                    td(ng-show="vm.identity.isAuthenticated() && !vm.identity.isAuthorizedForRole('admin')")
                                         a.btn.btn-success(href="/") Send
        .row.text-center
            ul.pagination
                - for (var i = 1; i <= clientPages; i++){
                li
                    a(href='/users/agents?page=' + i)= i
                -}


