body {
  padding-top: 80px;
}
#update-btn{
  margin-right: 10px;
}

.navbar-right .navbar-form input {
  margin-right: 10px;
}
.navbar-right .navbar-form a.btn {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
footer {
  padding-left: 120px;
  padding-right: 120px;
}
footer p {
  border-top: 1px solid #808080;
  padding-top: 10px;
}
input.ng-dirty.ng-invalid {
  background-color: pink; !important
}

input.ng-dirty.ng-valid {
  background-color: darkseagreen; !important
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

#form img{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#target-picture{
  width: 400px;
  border-radius: 10px;
}

#target{
  border-bottom: 2px solid rebeccapurple;
}
