doctype
html
    head
        title Telerik Academy Courses
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/css/site.css")
        link(rel="icon" href="../favicon.ico" type="image/x-icon")
        link(rel="shortcut icon" href="../favicon.ico" type="image/x-icon")
    body(ng-app="app")

    header.nav.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") Secret Agents Service
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/missions") Missions
                div(ng-include="'partials/account/login'")

    section
        block main-content

    footer
        p.text-center
            | &copy; Telerik Academy 2015/2016 Teamwork

        include ../views/includes/scripts
        include ../views/includes/currentUser