doctype
html
    head
        title Secret Agents Service
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/css/site.css")
        link(rel="icon" href="../favicon.ico" type="image/x-icon")
        link(rel="shortcut icon" href="../favicon.ico" type="image/x-icon")
        link(rel='stylesheet', href='/lib/page-animation/dist/css/animsition.min.css')
        link(rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.common.min.css")
        link(rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.highcontrast.min.css")
        script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
        script(type="text/javascript" src="/lib/angular/angular.js")
        script(type="text/javascript" src="/lib/chart.js/Chart.js")
    body(ng-app="app" ng-cloak)

    header.nav.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") Secret Agents Service
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a.animsition-link(href="/missions" data-animsition-out-class="fade-out-right") Missions
                    li
                        a.animsition-link(href="/users/agents" data-animsition-out-class="fade-out-left") Agents
                    li
                        a.animsition-link(href="/users/commissioners" data-animsition-out-class="fade-out-right") Commissioners
                    li(ng-if=!!!currentUser)
                        a.animsition-link(href="/chat" data-animsition-out-class="fade-out-left") Live chat
                div(ng-include="'/login'")

    section.animsition
        block main-content

    footer
        p.text-center
            | &copy; Telerik Academy 2015/2016 Teamwork


        include ../views/includes/scripts
        include ../views/includes/currentUser