extends ../index

block main-content
    .container
        .jumbotron
            h1 Secret Agent System
            h2 Best killing in the world
            #canvas-holder(style='width:30%')
                canvas#chart-area(width='300', height='300' style="margin-left: 111%;")